<!DOCTYPE html>

<title>신지용의 홈페이지</title>

<h1>인공지능 개발자 신지용의 홈페이지에 오신것을 환영합니다.</h1>
</br></br>




<h2 style="margin-left:20px;"><u>Timeline</u></h2>
<p style="margin-left: 40px;">
    
    2023.02 - 2023.08 : 연구 및 논문 작성<br>
    2021.02 - 2023.02 : 동서대학교 일반대학원 컴퓨터공학과 석사과정 및 졸업<br>
    2018.09 - 2021.09 : 방사선사로 근무<br>
    2016.03 - 2018.02 : 김천대학교 방사선학과 학부 졸업<br>
    2014.01 - 2015.10 : 군복무 (병장 만기제대)<br>
    2012.03 - 2014.01 : 방사선학과 입학 및 재학<br>
    2009.03 - 2012.02 : 동래 고등학교 졸업<br> 
    2007.03 - 2009.02 : 송산 중학교 졸업 (2학년~3학년)<br>
    2006.11 - 2007.01 : 호주 어학연수<br>
    2003.07 - 2006.09 : 필리핀 어학연수<br>
    1998.03 - 2003.07 : 신하 초등학교 입학 (~5학년)<br>
    1992.09.20 : 출생<br><br>
    <a href="/age_cal/">나이 계산기</a>
</p> 
</br></br>



<h2 style="margin-left:20px;"><u>Publications</u></h2>
<p style="margin-left: 40px;">
    <ul>
        <li>J. Shin, K. Park, and D. Kang. 2023. "TA-DARTS: Temperature Annealing of Discrete Operator Distribution for Effective Differential Architecture Search" Applied Sciences 13, no. 18: 10138. <a href="https://doi.org/10.3390/app131810138">https://doi.org/10.3390/app131810138</a></li><br>
        <li>신지용. (2023). 미분가능 아키텍처 검색에서의 온도 감쇠법 [석사학위논문, 동서대학교]. <a href = 'http://www.riss.kr/link?id=T16682031'>http://www.riss.kr/link?id=T16682031</a></li> <br>
    </ul>
</p></br></br>



<h2 style="margin-left:20px;"><u>Conferences</u></h2>
<p style="margin-left: 40px;">
    <ul>
        국내 및 국제 학술대회 5회 참가<br><br>
        <li><a href='https://doi.org/10.1007/978-3-031-27199-1_10'>IHCI 2022</a></li><br> 
        <li><a href='/conferences/2'>IICCC 2022</a></li><br>
        <li><a href='/conferences/3'>ICT 융합 기술 서비스 학술대회 2022</a></li><br>
        <li><a href='/conferences/4'>ICT 융합 기술 서비스 학술대회 2021</a></li><br>
        <li><a href='/conferences/5'>ICT 융합 기술 서비스 학술대회 2021</a></li><br>
    </ul>
</p></br></br>



<h2 style="margin-left:20px;"><u>Projects</u></h2>
<p style="margin-left: 40px;">
    <ul>
        <li><a href="/project1/">심심한 분들을 위한 주피터 노트북!</a></li><br>
        <li><a href='/project2/'>카카오 로그인</a></li><br>
        <li><a href='/project3/'>게시판</a></li><br>
        <li><a href='/project4/conversation/'>GPT-4o와 대화하기</a></li><br>
        <li><a href='/project5/'>욕하기 사이트</a></li><br>
        <li><a href='/project6/'>Transformer 모델 직접 만들기(미완)</a></li><br>
    </ul>
</p></br></br>


<!-- 
<h2 style="margin-left:20px;"><u>관심</u></h2>
<p style="margin-left: 40px;">
    <ul>
        <li><a href='/'>.....</a></li><br>
        <li><a href='/'>.....</a></li><br>
        <li><a href='/'>.....</a></li><br>
    </ul>
</p> -->

